.game {
    font: 14px 'Century Gothic', Futura, sans-serif;
    margin: 20px;
    min-height: 260px;
}

.game ol,
.game ul {
    padding-left: 30px;
}

.board-container{
    display: inline-block;
    margin: auto;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
}

.square:focus {
    outline: none;
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    min-width: 190px;
}
